In [1]:
import sys
import os
import glob
import struct
import binascii
import datetime

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

# import dateutil
# from scipy import __version__ as scipy_version
# import scipy.interpolate
# import scipy.stats
# from statsmodels import __version__ as statsmodels_version
# import statsmodels.formula.api as smformula

from collections import OrderedDict
from IPython.display import display, HTML

print(sys.version)
print('numpy', np.__version__)
print('matplotlib', mpl.__version__)
print('pandas',pd.__version__)
# print('scipy', scipy_version)
# print('statsmodels', statsmodels_version)

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]
numpy 1.14.3
matplotlib 2.2.2
pandas 0.22.0

In [2]:
# Setup plot style
%matplotlib notebook
plt.style.use('seaborn-paper')
mpl.rcParams['figure.facecolor'] = (0.8, 0.8, 0.8, 1)

In [3]:
# Misc utility functions
def tempF2C(x): return (x-32.0)*5.0/9.0
def tempC2F(x): return (x*9.0/5.0)+32.0

In [4]:
def msbin2ieee(msbin):
    """
    Convert an array of 4 bytes containing Microsoft Binary floating point
    number to IEEE floating point format (which is used by Python)
    adapted from: https://github.com/choonkeat/ms2txt/blob/master/metastock/utils.py
    """
    as_int = struct.unpack("i", msbin)
    if not as_int:
        return 0.0
    man = int(struct.unpack('H', msbin[2:])[0])
    if not man:
        return 0.0
    exp = (man & 0xff00) - 0x0200
    man = man & 0x7f | (man << 8) & 0x8000
    man |= exp >> 1
    ieee = msbin[:2]
    ieee += bytes([man & 0xFF])
    ieee += bytes([(man >> 8) & 0xFF])
#     print(ieee)
    return struct.unpack("f", ieee)[0]

display(msbin2ieee(b'\xDB\x0F\x49\x81')*2) # should ~= pi
display(msbin2ieee(b'\xCD\xCC\x70\x86'))

3.1415927410125732

60.20000076293945

In [5]:
FN = '../../cdfa_dd/LAAR17'
INPUT_TEMPS_IN_F = True # output should be C

In [6]:
# 3 AS N$, 2 AS D$, 2 AS M$, 2 AS Y$, 5 AS M2$, 5 AS M3$, 16 AS X$
date_fmt = r"=hchhh" # 5 5 16"
date_size = struct.calcsize(date_fmt)
current_year = int(datetime.datetime.strftime(datetime.date.today(), '%Y'))

dat = []
with open(FN,'rb') as fh:
    while True:
        date_bytes = fh.read(date_size)
        if len(date_bytes) < date_size:
            if len(date_bytes) > 0:
                print("WARNING: Some data left in file")
            break
        (n, _, d, m, y) = struct.unpack(date_fmt, date_bytes)
        tmin = msbin2ieee(fh.read(4))
        assert fh.read(1) == b' ' # This byte should be a space (0x20)
        tmax = msbin2ieee(fh.read(4))
        assert fh.read(1) == b' ' # This byte should be a space (0x20)
        fooX = fh.read(16) # specified in old BASIC code but not used.  Don't know what it is
        # mark projections more properly
        is_projection = y==0
        # F to C if needed
        if False: #INPUT_TEMPS_IN_F:
            tmin = tempF2C(tmin)
            tmax = tempF2C(tmax)
        # convert 2 digit date to 4 digits... This will break in 2100
        fully = y+2000
        if fully > current_year:
            fully -= 100
        if is_projection:
            fully = current_year
        date_str = "{:04d}-{:02d}-{:02d}".format(fully, m, d)
        dat.append([n, d, m, y, tmin, tmax, date_str, is_projection])
        _ = fh.read(128-35) # skip to next record in the file (each record is 128 bytes because??)
    dat = pd.DataFrame(dat, columns=['jday', 'day', 'month', 'year', 'Tmin', 'Tmax', 'date_str', 'is_projection'])

# make date col of datetime objects
dat['date'] = pd.to_datetime(dat['date_str'])
dat.drop('date_str', axis=1, inplace=True) # don't need the strings anymore

display(dat)

     jday  day  month  year       Tmin       Tmax  is_projection       date
0       1    1      1    17  42.700001  60.200001          False 2017-01-01
1       2    2      1    17  52.000000  58.299999          False 2017-01-02
2       3    3      1    17  49.099998  59.599998          False 2017-01-03
3       4    4      1    17  48.200001  61.900002          False 2017-01-04
4       5    5      1    17  49.299999  58.099998          False 2017-01-05
5       6    6      1    17  47.400002  56.700001          False 2017-01-06
6       7    7      1    17  46.299999  58.000000          False 2017-01-07
7       8    8      1    17  45.000000  63.299999          False 2017-01-08
8       9    9      1    17  46.299999  60.700001          False 2017-01-09
9      10   10      1    17  52.200001  63.000000          False 2017-01-10
10     11   11      1    17  47.099998  63.599998          False 2017-01-11
11     12   12      1    17  44.299999  68.800003          False 2017-01-12
12     13   13      1    17  44.400002  64.599998          False 2017-01-13
13     14   14      1    17  49.299999  63.900002          False 2017-01-14
14     15   15      1    17  49.700001  64.699997          False 2017-01-15
15     16   16      1    17  54.500000  65.800003          False 2017-01-16
16     17   17      1    17  48.900002  67.500000          False 2017-01-17
17     18   18      1    17  55.299999  62.099998          False 2017-01-18
18     19   19      1    17  51.099998  55.799999          False 2017-01-19
19     20   20      1    17  44.299999  61.500000          False 2017-01-20
20     21   21      1    17  49.799999  55.000000          False 2017-01-21
21     22   22      1    17  48.000000  53.700001          False 2017-01-22
22     23   23      1    17  40.599998  56.900002          False 2017-01-23
23     24   24      1    17  41.000000  59.700001          False 2017-01-24
24     25   25      1    17  41.500000  63.000000          False 2017-01-25
25     26   26      1    17  44.700001  62.299999          False 2017-01-26
26     27   27      1    17  41.599998  72.400002          False 2017-01-27
27     28   28      1    17  47.200001  78.300003          False 2017-01-28
28     29   29      1    17  51.900002  79.900002          False 2017-01-29
29     30   30      1    17  51.099998  65.400002          False 2017-01-30
..    ...  ...    ...   ...        ...        ...            ...        ...
335   336    2     12    17  52.700001  72.599998          False 2017-12-02
336   337    3     12    17  52.000000  69.300003          False 2017-12-03
337   338    4     12    17  54.099998  73.099998          False 2017-12-04
338   339    5     12    17  52.200001  70.300003          False 2017-12-05
339   340    6     12    17  46.799999  75.599998          False 2017-12-06
340   341    7     12    17  47.099998  79.699997          False 2017-12-07
341   342    8     12    17  50.000000  77.099998          False 2017-12-08
342   343    9     12    17  54.400002  82.800003          False 2017-12-09
343   344   10     12    17  54.000000  82.599998          False 2017-12-10
344   345   11     12    17  56.700001  80.599998          False 2017-12-11
345   346   12     12    17  52.599998  82.300003          False 2017-12-12
346   347   13     12    17  53.400002  79.500000          False 2017-12-13
347   348   14     12    17  48.900002  76.900002          False 2017-12-14
348   349   15     12    17  53.400002  80.599998          False 2017-12-15
349   350   16     12    17  53.400002  69.000000          False 2017-12-16
350   351   17     12    17  47.200001  73.599998          False 2017-12-17
351   352   18     12    17  50.099998  72.599998          False 2017-12-18
352   353   19     12    17  49.099998  71.000000          False 2017-12-19
353   354   20     12    17  48.599998  59.700001          False 2017-12-20
354   355   21     12    17  46.599998  63.400002          False 2017-12-21
355   356   22     12    17  42.099998  66.300003          False 2017-12-22
356   357   23     12    17  47.599998  66.900002          False 2017-12-23
357   358   24     12    17  48.900002  68.599998          False 2017-12-24
358   359   25     12    17  47.700001  68.500000          False 2017-12-25
359   360   26     12    17  46.599998  68.400002          False 2017-12-26
360   361   27     12    17  48.599998  76.000000          False 2017-12-27
361   362   28     12    17  49.000000  77.400002          False 2017-12-28
362   363   29     12    17  54.500000  80.300003          False 2017-12-29
363   364   30     12    17  48.299999  72.400002          False 2017-12-30
364   365   31     12    17  50.900002  69.699997          False 2017-12-31

[365 rows x 8 columns]

In [13]:
t = dat.copy(deep=True)
t = t.set_index('date')
t.loc['2017-01-04':'2017-01-07'] = np.nan
t.head(10)

            jday   day  month  year       Tmin       Tmax  is_projection
date
2017-01-01   1.0   1.0    1.0  17.0  42.700001  60.200001            0.0
2017-01-02   2.0   2.0    1.0  17.0  52.000000  58.299999            0.0
2017-01-03   3.0   3.0    1.0  17.0  49.099998  59.599998            0.0
2017-01-04   NaN   NaN    NaN   NaN        NaN        NaN            NaN
2017-01-05   NaN   NaN    NaN   NaN        NaN        NaN            NaN
2017-01-06   NaN   NaN    NaN   NaN        NaN        NaN            NaN
2017-01-07   NaN   NaN    NaN   NaN        NaN        NaN            NaN
2017-01-08   8.0   8.0    1.0  17.0  45.000000  63.299999            0.0
2017-01-09   9.0   9.0    1.0  17.0  46.299999  60.700001            0.0
2017-01-10  10.0  10.0    1.0  17.0  52.200001  63.000000            0.0