In [20]:
import sys
import os
import glob
import struct
import binascii
import datetime

import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd

# import dateutil
# from scipy import __version__ as scipy_version
# import scipy.interpolate
# import scipy.stats
# from statsmodels import __version__ as statsmodels_version
# import statsmodels.formula.api as smformula

from collections import OrderedDict
from IPython.display import display, HTML

print(sys.version)
print('numpy', np.__version__)
print('matplotlib', mpl.__version__)
print('pandas',pd.__version__)
# print('scipy', scipy_version)
# print('statsmodels', statsmodels_version)

3.6.4 |Anaconda, Inc.| (default, Jan 16 2018, 18:10:19)
[GCC 7.2.0]
numpy 1.14.3
matplotlib 2.2.2
pandas 0.22.0

In [2]:
# Setup plot style
%matplotlib notebook
plt.style.use('seaborn-paper')
mpl.rcParams['figure.facecolor'] = (0.8, 0.8, 0.8, 1)

In [3]:
# Misc utility functions
def tempF2C(x): return (x-32.0)*5.0/9.0
def tempC2F(x): return (x*9.0/5.0)+32.0

In [5]:
def msbin2ieee(msbin):
    """
    Convert an array of 4 bytes containing Microsoft Binary floating point
    number to IEEE floating point format (which is used by Python)
    adapted from: https://github.com/choonkeat/ms2txt/blob/master/metastock/utils.py
    """
    as_int = struct.unpack("i", msbin)
    if not as_int:
        return 0.0
    man = int(struct.unpack('H', msbin[2:])[0])
    if not man:
        return 0.0
    exp = (man & 0xff00) - 0x0200
    man = man & 0x7f | (man << 8) & 0x8000
    man |= exp >> 1
    ieee = msbin[:2]
    ieee += bytes([man & 0xFF])
    ieee += bytes([(man >> 8) & 0xFF])
#     print(ieee)
    return struct.unpack("f", ieee)[0]

display(msbin2ieee(b'\xDB\x0F\x49\x81')*2) # should ~= pi
display(msbin2ieee(b'\xCD\xCC\x2A\x87'))

3.1415927410125732

85.4000015258789

In [56]:
FN = '../../cdfa_dd/LAAR18'
INPUT_TEMPS_IN_F = True # output should be C

In [61]:
# 3 AS N$, 2 AS D$, 2 AS M$, 2 AS Y$, 5 AS M2$, 5 AS M3$, 16 AS X$
date_fmt = r"=hchhh" # 5 5 16"
date_size = struct.calcsize(date_fmt)
current_year = int(datetime.datetime.strftime(datetime.date.today(), '%Y'))

dat = []
with open(FN,'rb') as fh:
    while True:
        date_bytes = fh.read(date_size)
        if len(date_bytes) < date_size:
            if len(date_bytes) > 0:
                print("WARNING: Some data left in file")
            break
        (n, _, d, m, y) = struct.unpack(date_fmt, date_bytes)
        tmin = msbin2ieee(fh.read(4))
        assert fh.read(1) == b' ' # This byte should be a space (0x20)
        tmax = msbin2ieee(fh.read(4))
        assert fh.read(1) == b' ' # This byte should be a space (0x20)
        fooX = fh.read(16) # specified in old BASIC code but not used.  Don't know what it is
        # mark projections more properly
        is_projection = y==0
        # F to C if needed
        if INPUT_TEMPS_IN_F:
            tmin = tempF2C(tmin)
            tmax = tempF2C(tmax)
        # convert 2 digit date to 4 digits... This will break in 2100
        fully = y+2000
        if fully > current_year:
            fully -= 100
        if is_projection:
            fully = current_year
        date_str = "{:02d}-{:02d}-{:04d}".format(d, m, fully)
        dat.append([n, d, m, y, tmin, tmax, date_str, is_projection])
        _ = fh.read(128-35) # skip to next record in the file (each record is 128 bytes because??)
    dat = pd.DataFrame(dat, columns=['jday', 'day', 'month', 'year', 'Tmin', 'Tmax', 'date_str', 'is_projection'])

# make date col of datetime objects
dat['date'] = pd.to_datetime(dat['date_str'])
dat.drop('date_str', axis=1, inplace=True) # don't need the strings anymore

display(dat)

     jday  day  month  year       Tmin       Tmax  is_projection       date
0       1    1      1    18   9.166667  22.166668          False 2018-01-01
1       2    2      1    18  11.555555  22.333332          False 2018-02-01
2       3    3      1    18  13.944444  21.999999          False 2018-03-01
3       4    4      1    18  12.333334  23.888889          False 2018-04-01
4       5    5      1    18  12.166668  22.111113          False 2018-05-01
5       6    6      1    18  14.222221  20.166668          False 2018-06-01
6       7    7      1    18  13.722223  22.500000          False 2018-07-01
7       8    8      1    18  15.833333  18.000001          False 2018-08-01
8       9    9      1    18  10.666667  15.833333          False 2018-09-01
9      10   10      1    18   8.777777  19.055557          False 2018-10-01
10     11   11      1    18   9.166667  21.722221          False 2018-11-01
11     12   12      1    18  10.333332  21.944444          False 2018-12-01
12     13   13      1    18  11.833333  28.166665          False 2018-01-13
13     14   14      1    18  14.000000  27.722223          False 2018-01-14
14     15   15      1    18  11.388889  20.555556          False 2018-01-15
15     16   16      1    18  11.111111  22.611109          False 2018-01-16
16     17   17      1    18  11.666667  25.111109          False 2018-01-17
17     18   18      1    18  12.777778  22.722223          False 2018-01-18
18     19   19      1    18  12.944444  17.333334          False 2018-01-19
19     20   20      1    18  10.555556  17.722223          False 2018-01-20
20     21   21      1    18   7.611112  18.277779          False 2018-01-21
21     22   22      1    18   7.666666  20.944443          False 2018-01-22
22     23   23      1    18   8.833334  24.611113          False 2018-01-23
23     24   24      1    18  10.222223  24.944445          False 2018-01-24
24     25   25      1    18   9.555556  17.444445          False 2018-01-25
25     26   26      1    18   8.555556  20.555556          False 2018-01-26
26     27   27      1    18   9.499999  23.500002          False 2018-01-27
27     28   28      1    18  10.611110  27.888887          False 2018-01-28
28     29   29      1    18  11.999999  30.888888          False 2018-01-29
29     30   30      1    18  15.611110  28.166665          False 2018-01-30
..    ...  ...    ...   ...        ...        ...            ...        ...
335   336    2     12     0  11.386806  21.367361           True 2018-02-12
336   337    3     12     0  12.902779  19.874997           True 2018-03-12
337   338    4     12     0  10.194444  19.527779           True 2018-04-12
338   339    5     12     0   9.652778  20.430556           True 2018-05-12
339   340    6     12     0   9.972221  20.500001           True 2018-06-12
340   341    7     12     0  11.069444  20.694444           True 2018-07-12
341   342    8     12     0  10.402779  20.638885           True 2018-08-12
342   343    9     12     0   9.986112  20.652779           True 2018-09-12
343   344   10     12     0   9.576388  19.944445           True 2018-10-12
344   345   11     12     0  11.263890  18.819444           True 2018-11-12
345   346   12     12     0  11.986112  19.027778           True 2018-12-12
346   347   13     12     0  10.083334  18.819444           True 2018-12-13
347   348   14     12     0   9.305556  18.972219           True 2018-12-14
348   349   15     12     0   8.569444  20.444442           True 2018-12-15
349   350   16     12     0   8.805788  18.539352           True 2018-12-16
350   351   17     12     0   9.600232  16.731018           True 2018-12-17
351   352   18     12     0   9.974073  19.145135           True 2018-12-18
352   353   19     12     0   8.500693  18.768980           True 2018-12-19
353   354   20     12     0   7.593055  18.243752           True 2018-12-20
354   355   21     12     0   8.159722  19.016202           True 2018-12-21
355   356   22     12     0  10.958332  17.428241           True 2018-12-22
356   357   23     12     0   9.206017  19.128477           True 2018-12-23
357   358   24     12     0   8.839120  19.273148           True 2018-12-24
358   359   25     12     0   8.417825  18.127314           True 2018-12-25
359   360   26     12     0   7.559028  17.501157           True 2018-12-26
360   361   27     12     0   6.548610  18.792826           True 2018-12-27
361   362   28     12     0   7.387729  20.156250           True 2018-12-28
362   363   29     12     0   8.159720  20.539814           True 2018-12-29
363   364   30     12     0   8.197685  20.042826           True 2018-12-30
364   365   31     12     0   7.690972  19.273152           True 2018-12-31

[365 rows x 8 columns]